{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet"> <!-- NUNITO FONT -->

    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/layout.css' %}"> <!-- CSS STYLESHEET -->
<body>
    <div class ="account-box"> <!-- this base is specifically for login/register pages with a smaller main box -->
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>