{% extends "accountbase.html" %}
{% load static %}

{% block title %}CosyCosmetics ♡ | Log In{% endblock %}

{% block content %}
    <center><img src="{% static 'img/accountlogo.png' %}">
    <img src="{% static 'img/cosyaccount.png' %}"></center>
    <p></p>
    <hr>

    &nbsp;
    <div class="heading">
    <center>
        <b>Welcome back! ♡</b><p></p>
        <i>Sign back into your CosyAccount below!</i>
    </center>
    </div>
    <p></p>
    <hr>

    <center>

   <form action="{% url 'Login' %}" method="POST">
   {% csrf_token %}

    {{ form.as_table }}

 <p></p>
   <button type="submit">L O G &nbsp; I N</button>
   </form>

    <p></p>
        Don't have a CosyAccount?
        <a href="../register" class="registerhere">Register here.</a>


    </center>
{% endblock %}